<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="Moonlight735" value="https://nuget.pkg.github.com/Moonlight735/index.json" protocolVersion="3" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="Moonlight735">
			<package pattern="BattagliaNavale.*" />
		</packageSource>
	</packageSourceMapping>
	<packageSourceCredentials>
		<Moonlight735>
			<add key="Username" value="%MOONLIGHT735_NUGET_USERNAME%" />
			<add key="ClearTextPassword" value="%MOONLIGHT735_NUGET_PASSWORD%" />
		</Moonlight735>
	</packageSourceCredentials>
</configuration>
